Za svakog korisnika U ćemo gledati gdje su njegovi članci Au među rangiranim Y članaka sveukupno, gdje Y:={Au, D*u* } gje D*u* predstavlja skup random 1k članaka iz *dblp*  - tih 1k članaka glumi šum

____

importanje datasetova koje moramo vektorizirati

In [1]:
import pandas as pd

In [3]:
sia_df = pd.read_csv('datasets/twitter/sia_27_3.csv') #Sciencedirect IEEE Arxiv

In [4]:
sia_df.tail(1)

        artID                                               text source
5345  9667507  Artificial intelligence metaverse cyber world ...   ieee

In [17]:
sia_df=sia_df.dropna()

importamo bilježnicu koja ima 2 metode koje nam trebaju:
1.  text_prepare(text) 
2. get_me_some_vectors(text)

In [9]:
%run helper_notebooks/text_to_vector.ipynb

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [18]:
clean_texts=[]
ft_vcts=dict()

for i, row in sia_df.iterrows():
    txt=text_prepare(row.text)
    clean_texts.append(txt)
    ft_vcts[row.artID]=get_me_some_vectors(txt)

In [22]:
tmpdf=pd.DataFrame(ft_vcts.items(),columns=['artID','ftvector'])

tmpdf.to_parquet('datasets/twitter/tw_ft_27_3.parquet')

In [23]:
sia_df['clean_text']=clean_texts

/tmp/ipykernel_10807/3846500323.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sia_df['clean_text']=clean_texts

In [25]:
sia_df.tail(1)

,artID,text,source,clean_text
5345,9667507,Artificial intelligence metaverse cyber world ...,ieee,artificial intelligence metaverse cyber world ...

In [28]:
sia_df.drop(['text'],axis=1).to_parquet('datasets/twitter/sia_clean_27_3.parquet')

dalje, od korisnika želimo dobiti članke za vanjski izgled i pozitivne

In [2]:
user_art_df=pd.read_csv('datasets/twitter/user_art_id.csv')

In [3]:
user_art_df=user_art_df.dropna()

In [4]:
user_set=set(user_art_df['userID'])

In [5]:
user_art_dict=dict()
for i, row in user_art_df.iterrows():
    if row.userID in user_art_dict:
        user_art_dict[row.userID].append(row.artID)
    else:
        user_art_dict[row.userID]=[row.artID]

In [25]:
user_ids=[k for k,v in user_art_dict.items() if len(v)>4]

In [26]:
len(user_ids)

413

In [27]:
import random
NUM_OUT=2  

au,ao,ap=[],[],[]

for u in user_ids:
    if len(user_art_dict[u]) < 8 :
        NUM_OUT=2
    else:
        NUM_OUT=3
    outer_ids=random.sample(user_art_dict[u], NUM_OUT)
    positive_ids=set(user_art_dict[u]).difference(set(outer_ids))
    au.append(u)
    ap.append(positive_ids)
    ao.append(outer_ids)

In [28]:
user_out_pos=pd.DataFrame({
    'userID': au,
    'posIDs': ap,
    'outIDs': ao
})

In [33]:
user_out_pos.head(1)

,userID,posIDs,outIDs
0,4910170583,"{S1359645422001896, S1359645422001471, S135964...","[S2589152922000485, S2589152922000679, S258915..."

## nabavak negativnih iz dblpv13 dataseta

In [18]:
NUM_OF_NEG_SAMPLE=1_000

In [16]:
dblp_df=pd.read_parquet("datasets/preprocessed.parquet",columns=["id"])

In [22]:
all_ids=list(set(dblp_df['id']))

In [31]:
neg=[]
for u in user_ids:
    neg.append(random.sample(all_ids, NUM_OF_NEG_SAMPLE))

In [32]:
len(neg)

413

In [36]:
user_out_pos=pd.DataFrame({
    'userID': au,
    'posIDs': ap,
    'outIDs': ao,
    'negIDs': neg
    
})
user_out_pos.to_csv('datasets/twitter/user_pos_neg_ids_27_3.csv')

In [39]:
user_out_pos.head(1)

,userID,posIDs,outIDs,negIDs
0,4910170583,"{S1359645422001896, S1359645422001471, S135964...","[S2589152922000485, S2589152922000679, S258915...","[53e99fc2b7602d9702899dc1, 5736956d6e3b12023e4..."